// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.player-interface {
  width: 100%;
  min-height: 600px;

  margin: 0 0 $spacing 0;
  padding: 0;
  border: 1px solid mix($color-background, $color-text);

  display: flex;

  .player-statistics {
    width: 20%;
    border: 1px solid mix($color-background, $color-text);
    padding: $spacing;
  }

  .player-view {
    width: 80%;
    border: 1px solid mix($color-background, $color-text);
    padding: $spacing;
  }
}
